{% extends 'base.html' %}
{% block title %}Changer le mot de passe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
{% endblock %}

{% block content %}
<a href="{{ url_for('admin_bp.manage_users') }}" class="btn-back" aria-label="Retour">&larr; Retour</a>
<h1>Changer le mot de passe</h1>
<form method="post" class="crud-form">
  <label for="user_password">Nouveau mot de passe</label>
  <input id="user_password" name="user_password" type="password" required>

  <button type="submit">Mettre à jour</button>
</form>
{% endblock %}

