{% extends 'base.html' %}
{% block title %}Changer mon mot de passe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
{% endblock %}

{% block content %}
<a href="{{ url_for('account_bp.user_dashboard') }}" class="btn-back" aria-label="Retour">&larr; Retour</a>
<h1>Changer mon mot de passe</h1>
<form method="post" class="crud-form">
  <label for="new_password">Nouveau mot de passe</label>
  <input id="new_password" name="new_password" type="password" required>

  <button type="submit">Enregistrer</button>
</form>
{% endblock %}

